body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #6c7279;
  background-color: #fff;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0 0 10px;
}

/* Container
===================*/
.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 120px;
  background-color: rgba(80, 81, 69, .2);
}

.header-logo {
  width: 200px;
}

@media (max-width: 1000px) {
  .header-logo {
    display: none;
  }
  .header-inner {
    display: inline;
    background-color: rgba(80, 81, 69, 0);
  }
}

@media (max-width: 620px) {
  .header {
    display: none;
  }
}

/* Nav
===================*/

.nav {
  display: flex;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

.nav-link {
  white-space: nowrap;
  margin-left: 50px;
  color: #505145;
  text-decoration: none;
  opacity: .75;
  transition: opacity .1s linear;
}

.nav-link:hover {
  opacity: 1;
}

/* Intro
===================*/

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding-top: 100px;
  background-size: cover;
}

.intro-inner {
  width: 100%;
  max-width: 750px;
  margin: 0;
  margin-left: 40%;
  text-align: center;
}

@media (max-width: 1150px) {
  .intro {
    background: #e7e9d4;
  }
  .intro-inner {
    margin: 0 auto;
  }
}

@media (max-width: 960px) {
  .intro-inner {
    margin-bottom: 15%;
    padding: 15px;
  }
}

.intro-title {
  margin: 0 0 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 75px;
  line-height: 1.1;
  color: #505145;
  font-weight: 700;
  text-transform: uppercase;
}

.intro-subtitle {
  margin-bottom: 60px;
  font-size: 45px;
  color: #505145;
  line-height: 1.5;
  font-weight: 500;
}

/* Button
===================*/
.btn {
  padding: 14px 40px;
  border-radius: 2px;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  transition: background .1s linear;
}

.btn-color {
  background-color: #2dada8;
}

.btn-color:hover {
  background-color: #2aa39e;
}

/* Features
===================*/
.features {
  display: flex;
  flex-wrap: wrap;
  margin: 95px 0;
}

.features-item {
  width: 33.33333%;
  padding: 0 40px;
  margin: 25px 0;
  text-align: center;
}

.features-icon {
  width: 64px;
  margin-bottom: 25px;
}

.features-title {
  margin-bottom: 20px;
  font-size: 20px;
  color: #2d3033;
  font-weight: 700;
  text-transform: uppercase;
}

.features-text {
  font-size: 17px;
  line-height: 1.5;
  color: #6c7279;
}

@media (max-width: 800px) {
  .features {
    display: inline;
  }
  .features-item {
    width: 100%;
  }
}

/* Team
===================*/
.team {
  margin: 100px 0 70px;
}

.team-inner {
  display: flex;
  flex-wrap: wrap;
}

.team-title {
  font-size: 40px;
  text-align: center;
  font-weight: 500;
  padding-bottom: 60px;
  color: #2d3033;
  text-transform: uppercase;
}

.team-item {
  width: 33.33%;
  padding: 0 15px;
}

.team-photo {
  width: 250px;
  margin: 0 auto;
  opacity: 0.8;
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.team-name {
  margin-bottom: 10px;
  font-size: 30px;
  color: #2d3033;
}

.team-prof {
  margin-bottom: 15px;
  font-size: 18px;
  color: #2aa39e;
  text-transform: uppercase;
}

.team-text {
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 1.5;
  color: #6c7279;
}


@media (max-width: 960px) {
  .team {
    display: inline;
  }
  .team-item {
    width: 100%;
    padding-bottom: 100px;
  }
  .team-title {
    padding-top: 100px;
  }
}

/* Reviews
===================*/
.reviews {
  overflow: hidden;
  background-color: #e7e9d4;
}

.reviews-item {
  display: flex;
  flex-wrap: wrap;
}

.reviews-photo {
  width: 43%;
  height: 500px;
  position: relative;
}

.reviews-img {
  height: 100%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.reviews-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding-left: 150px;
}

.reviews-text {
  margin-bottom: 25px;
  font-family: 'Cardo', sans-serif;
  font-style: italic;
  font-size: 36px;
  line-height: 1.2;
  color: #505145;
}

.reviews-author {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: #505145;
}

@media (max-width: 1150px) {
  .reviews-photo {
    display: none;
  }
  .reviews-item {
    display: inline-block;
  }
  .reviews-content {
    width: 100%;
    padding: 50px;
  }
}

/* Download
===================*/
.order {
  margin: 90px 0;
  text-align: center;
}

.order-text {
  margin-bottom: 10px;
  font-size: 30px;
  color: #2d3033;
  font-weight: 300;
  padding-bottom: 50px;
}

.btn-order-text {
  font-size: 25px;
  padding: 20px 60px;
}

@media (max-width: 960px) {
  .order-text {
    margin: 0 20px; 
  }
}

/* Footer
===================*/
.footer {
  padding: 20px 0;
  background-color: #e7e9d4;
}

.footer-text {
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
  color: #808080;
}

.footer-text span {
  font-style: italic;
  color: black;
  font-size: 20px;
}
